<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Form</title>
</head>
<body>
<h1>Cash Flow測試頁面</h1>

<form action="https://ccore.newebpay.com/MPG/mpg_gateway" method="post">
    <!-- 其他表單內容 -->

    <label for="MerchantID">Merchant ID:</label>
    <input type="text" id="MerchantID" name="MerchantID" required value=""><br><br>

    <label for="TradeInfo">Trade Info:</label>
    <input type="text" id="TradeInfo" name="TradeInfo" required value=""><br><br>

    <label for "TradeSha">Trade Sha:</label>
    <input type="text" id="TradeSha" name="TradeSha" required value=""><br><br>

    <label for="Version">Version:</label>
    <input type="text" id="Version" name="Version" required value="2.0"><br><br>

    <input type="submit" value="Submit" />
</form>

<script>
    // 在頁面載入時自動執行
    window.onload = function() {
        // 要發送的 JSON 數據
        var data = {
            "address": "XXXXXX",
            "phone": "0912345678",
            "email": "leecheenbao@gmail.com",
            "products": [
                {
                    "productId": "1",
                    "quantity": 1
                }
            ],
            "recipient": "paul"
        };

        fetch('http://localhost:8080/wasupstudio/api/cash/order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                // 在這裡處理伺服器回應
                console.log(data);

                // 將伺服器回應的值填入對應的 input 欄位
                document.getElementById("MerchantID").value = data.data.merchantID_;
                document.getElementById("TradeInfo").value = data.data.tradeInfo;
                document.getElementById("TradeSha").value = data.data.tradeSha;
                document.getElementById("Version").value = data.data.version;
            })
            .catch(error => {
                // 處理錯誤
                console.error('發送 POST 請求時出現錯誤：', error);
            });
    };
</script>
</body>
</html>
