<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Form</title>
</head>
<body>
<h1>My Form</h1>
<form action="https://ccore.newebpay.com/MPG/mpg_gateway" method="post">
  <label for="MerchantID">Merchant ID:</label>
  <input type="text" id="MerchantID" name="MerchantID" required><br><br>

  <label for="TradeInfo">Trade Info:</label>
  <input type="text" id="TradeInfo" name="TradeInfo" required><br><br>

  <label for="TradeSha">Trade Sha:</label>
  <input type="text" id="TradeSha" name="TradeSha" required><br><br>

  <label for="Version">Version:</label>
  <input type="text" id="Version" name="Version" required><br><br>

  <!-- 其他表單內容 -->
  <input type="submit" value="Submit" />
</form>
</body>
</html>
