<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wasupstudio.mapper.OrderMapper">

    <select id="getOrderDetail" resultType="com.wasupstudio.model.query.OrderQuery">
        SELECT wo.* , woi.quantity  FROM wa_orders wo
        JOIN wa_order_items woi ON wo.order_id = woi.order_id
        WHERE wo.order_id = #{orderId};
    </select>


</mapper>
