<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wasupstudio.mapper.OrderMapper">

    <select id="getOrderDetail" resultType="com.wasupstudio.model.query.OrderQuery">
        SELECT wo.* , woi.quantity, woi.product_id  FROM wa_orders wo
        JOIN wa_order_items woi ON wo.order_id = woi.order_id
        WHERE wo.order_id = #{orderId};
    </select>

    <select id="findByCondiction" resultType="com.wasupstudio.model.entity.OrderEntity">
        SELECT * FROM wa_orders WHERE 1=1
        <if test="orderId != null">
            AND order_id = #{orderId}
        </if>
        <if test="recipient != null and recipient !=''">
            AND recipient LIKE concat('%', #{recipient}, '%')
        </if>
        <if test="phone != null and phone !=''">
            AND phone = #{phone}
        </if>
        <if test="email != null and email !=''">
            AND address = #{email}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="minPrice != null">
            AND total_price &gt;= #{minPrice}
        </if>
        <if test="maxPrice != null">
            AND total_price &lt;= #{maxPrice}
        </if>
        ORDER BY update_time DESC;
    </select>
</mapper>
