<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wasupstudio.mapper.ParentConfigMapper">

    <resultMap id="ResultMap" type="com.wasupstudio.model.entity.ParentConfiglEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
<!--        <result property="scriptDetailId" column="script_detail_id" jdbcType="INTEGER"/>-->
        <result property="parDescription" column="par_decription" jdbcType="VARCHAR"/>
        <result property="parOrderly" column="par_orderly" jdbcType="INTEGER"/>
        <result property="parRelation" column="par_relation" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="batchInsert">

    </insert>


</mapper>
