<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wasupstudio.mapper.ScriptMapper">

    <resultMap id="scriptResultMap" type="com.wasupstudio.model.entity.ScriptEntity">
        <id property="scriptId" column="script_id" />
        <result property="title" column="title" />
        <result property="author" column="author" />
        <result property="description" column="description" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="status" column="status" />
    </resultMap>


</mapper>
